@import '../../variables.module.scss';

.tag {
	display: inline;

	// background-color: rgba(255, 0, 0, 0.2);
	// background-color: $theme-blue-color;
	background-color: $theme-less-red-color;
	// color: $theme-red-color;
	color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.7);

	padding: 4px;
	margin: 2px;
	border-radius: 6px;

	// font-size: small;
	font-size: smaller;
	font-weight: 800;
}
