@import '../../variables.module.scss';

.tag {
	display: inline;
	background-color: $theme-less-red-color;
	color: rgba(255, 255, 255, 0.7);

	padding: 4px;
	margin: 2px;
	border-radius: 6px;

	font-size: smaller;
	font-weight: 800;
}
